<ul class="list-group">
    <a href="/user/add" class="list-group-item list-group-item-action active">+ Yeni Kullanıcı Ekle</a>
    {{#each users}}
        <a class="list-group-item list-group-item-action" href="/user/edit/{{this.id}}">
            {{this.username}}
            <b>{{#userRole this.user_role}}{{/userRole}}</b>
        </a>
    {{/each}}
</ul>