<form method="post" action="/movie/add">
    <div class="form-group">
        <label for="name">İsim</label>
        <input required autocomplete="off" type="text" class="form-control" id="name" name="name">
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>