<form method="post" action="/event-group/add">
    <div class="form-group">
        <label for="name">İsim</label>
        <input autocomplete="off" type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="allowedCategories">Kategori</label>
        <select class="form-control" name="category" id="category">
            {{#each categories}}
                <option value="{{this.id}}">{{this.category_name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="description">Etkinlik Açıklaması</label>
        <textarea class="form-control" name="description" id="description" rows="5"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>